In [1]:
import numpy as np
import pandas as pd

"""
Ряд в Pandas - это специальная структура данных
"""
s1 = pd.Series([1, 2, 3, 4, 5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
"""
Ряды можно создавать из np.array и наоборот: возвращать в формат массива numpy 
"""
s1.to_numpy()

In [ ]:
"""
Индексацию можно провести не только при помощи чисел 
"""
s2 = pd.Series([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])
s2

In [ ]:
# Обращение по индексу
s2.iloc[3]

In [ ]:
# Создание из словаря
d = {'a': 2., 'b': 3., 'c': 1.}
s3 = pd.Series(d)
s3

In [ ]:
# Варианты индексации
s6 = pd.Series([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])
print('s6[1] = ', s6.iloc[1])
print('s6[d] = ', s6['d'])
print('Срез: \n', s6[2:4], '\n')

print("Индексация условным выражением: s6[s6 <= 3] : \n", s6[s6 % 2 == 1])

Табличные данные в Pandas

In [7]:
"""
Структура DataFrame
Создание из pd.Series 
"""
d = {"price": pd.Series([1, 2, 3]), "count": pd.Series([10, 12, 7])}
df1 = pd.DataFrame(d)
df1

   price  count
0      1     10
1      2     12
2      3      7

In [8]:
"""
Можно задать собственный вариант индексации 
"""
d = {"price": pd.Series([1, 2, 3], index=['product1', 'product2', 'product3']), 
     "count": pd.Series([10, 12, 5], index=['product1', 'product2', 'product3'])}
df2 = pd.DataFrame(d)
df2

          price  count
product1      1     10
product2      2     12
product3      3      5

In [9]:
df2.index

Index(['product1', 'product2', 'product3'], dtype='object')

In [10]:
df2.columns

Index(['price', 'count'], dtype='object')

In [ ]:
"""
Создание из массива словарей 
"""

d3 = [{"price": 3, "count": 8}, {"price": 4, "count": 12}]
df3 = pd.DataFrame(d3)
df3

In [ ]:
df3.info()

Датасет по продажам

In [2]:
sales = pd.read_csv("tumen.csv")
sales.head(20)

   2023; 3; 28; 7; 40; -1; 0; 233.5; 221.1; -1; 0; 234.1; 221.6; -1; 0; 233.4; 220.9
0   2023; 3; 28; 7; 41; -1; 0; 233.5; 221.1; -1; 0...
1   2023; 3; 28; 7; 42; -1; 0; 233.4; 221.1; -1; 0...
2   2023; 3; 28; 7; 43; -1; 0; 233.5; 221.2; -1; 0...
3   2023; 3; 28; 7; 44; -1; 0; 233.3; 220.9; -1; 0...
4   2023; 3; 28; 7; 45; -1; 0; 233.3; 221; -1; 0; ...
5   2023; 3; 28; 7; 46; -1; 0; 233.4; 221.2; -1; 0...
6   2023; 3; 28; 7; 47; -1; 0; 233.2; 220.8; -1; 0...
7   2023; 3; 28; 7; 48; -1; 0; 233.3; 221.1; -1; 0...
8   2023; 3; 28; 7; 49; -1; 0; 233.5; 221.2; -1; 0...
9   2023; 3; 28; 7; 50; -1; 0; 233.5; 221.1; -1; 0...
10  2023; 3; 28; 7; 51; -1; 0; 233.3; 221; -1; 0; ...
11  2023; 3; 28; 7; 52; -1; 0; 233.5; 221.3; -1; 0...
12  2023; 3; 28; 7; 53; -1; 0; 233.5; 221.3; -1; 0...
13  2023; 3; 28; 7; 54; -1; 0; 233.4; 221.1; -1; 0...
14  2023; 3; 28; 7; 55; -1; 0; 233.6; 221.2; -1; 0...
15  2023; 3; 28; 9; 1; -1; 0; 233.5; 221.2; -1; 0;...
16  2023; 3; 28; 7; 56; -9; 0; 0; 0; 0; 0; 0; 0; 0...
17  2023; 3; 29; 14; 41; -9; 0; 0; 0; 0; 0; 0; 0; ...
18  2023; 3; 29; 14; 41; -9; 0; 0; 0; 0; 0; 0; 0; ...
19  2023; 3; 29; 14; 42; 0; 0; 0; 0; 0; 0; 0; 0; 0...

In [3]:
sales.shape

(3882, 1)

In [ ]:
sales25 = sales[sales.shop_id == 25]
sales25

In [ ]:
sales.date[:11]

Очистка данных в Pandas

In [ ]:
# Обработка пропусков
DICT = {'Model' : ['Logistic Regression', "SVM", "KNN", "Decision Tree"], 'Accuracy' : [0.96, None, None, 0.67]}
df = pd.DataFrame(DICT)
df

In [ ]:
df1 = df.fillna(0)
df1
df2 = df.fillna(1)
df2

In [ ]:
df3 = df.fillna(df['Accuracy'].min())
df3

In [ ]:
# Удаление дупликатов
DICT = {'Организация' : ['Яндекс', 'Сбербанк', 'Мираторг', 'Яндекс', 'Mail.ru group', 'Сбербанк'],
        'Форма организации' : ['OOO', 'ОАО', 'OOO', 'OOO', 'ПАО', 'ОАО']}
df = pd.DataFrame(DICT)
df

In [ ]:
df.drop_duplicates()